{% block main %}
    <div class="row">
        <div class="col-3">
            <nav class="nav flex-column">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                <a class="nav-link" href="#">Link</a> 
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled">Disabled</a>
            </nav>
        </div>
        <div class="col-6">
            <footer>
                <p style="text-align:center;"> © Copyright - Todos os direitos reservados </p> 
            </footer>    
        </div>           
        <div class="col-3">        
        </div>   
    </div>
{% endblock main %}
