{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-sm-12">
        <h2>Cadastro - está com defeito (corrigir)</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6"> 
        <form action="{% url 'core_rotativo_novo' %}" method="POST">    
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
      <h2>Lista de Rotativos</h2> 
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">VEÍCULO</th>
                <th scope="col">CHECKIN</th>
                <th scope="col">CHECKOUT</th>
                <th scope="col">VALOR HORA</th>
                <th scope="col">PAGO</th>
              </tr>
            </thead>
            <tbody>
              {% for rotativo in rotativo %}  
              <tr>
                <th scope="rowl">{{ rotativo.id }}</th>
                <th scope="rowl">{{ rotativo.veiculo }}</th>
                <th scope="rowl">{{ rotativo.checkin }}</th>                
                <th scope="rowl">{{ rotativo.checkout }}</th>
                <th scope="rowl">{{ rotativo.valor_hora }}</th>
                <th scope="rowl">{{ rotativo.pago }}</th>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock main %}