{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-sm-12">
        <h2>Cadastro</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6"> 
        <form action="{% url 'core_pessoas_novo' %}" method="POST">    
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
      <h2>Lista de Pessoas</h2>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">ENDEREÇO</th>
                <th scope="col">TELEFONE</th>
              </tr>
            </thead>
            <tbody>
              {% for pessoas in pessoas %}  
              <tr>
                <th scope="rowl">{{ pessoas.id }}</th>
                <th scope="rowl">{{ pessoas.nome }}</th>
                <th scope="rowl">{{ pessoas.endereco }}</th>
                <th scope="rowl">{{ pessoas.telefone }}</th>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>  

{% endblock main %}