{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<div class="row">
    <div class="col">
        <h2> Updating Mensalistas: {{ movmensalistas }}</h2>
        <form action="{% url 'core_movmensalistas_update' movmensalistas.id %}" method="POST">    
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'core_movmensalistas_delete' movmensalistas.id %}">Deletar</a>
        </form>
    </div>
</div>
        

    </div>
</div>
{% endblock main %}